

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   

    <!--- ====BOX ICONS==== -->
    

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
    
    <p>hello</p>
    
    <p id="name"></p>
    <p id="base"></p>
    <p id="price"></p>
    <p id="api"></p>


    <!--- ==== MAIN JS ==== -->
	<script>

        /**==== Fetch Price ====**/

        Exchanges = ['https://api.coingecko.com/api/v3/exchanges/binance/tickers?coin_ids=dogecoin&include_exchange_logo=true','https://api.coingecko.com/api/v3/exchanges/gdax/tickers?coin_ids=dogecoin&include_exchange_logo=true','https://api.coingecko.com/api/v3/exchanges/bitbns/tickers?coin_ids=dogecoin&include_exchange_logo=true'];
        
        for(const i in Exchanges){
            fetch(Exchanges[i])
            .then(res => res.json())
            .then((out) => {
            //console.log('Bitcoin: ', out.name);
            document.getElementById("name").innerHTML += out.name + '<br>' + out.tickers[0].base + '<br>' + out.tickers[0].last + '<br>';
            //document.getElementById("base").innerHTML +=  '<br>';
            //document.getElementById("price").innerHTML +=  '<br>';
            
        }).catch(err => console.error(err));
        }
        for(const i in Exchanges){
            document.getElementById("api").innerHTML += Exchanges[i]+'<br>';
        }
                
        
        
    </script>
</body>
</html>